/*  GENERAL */
h2 {
  color: #008f94;
}

/* PERSPECTIVA FEMINISTA */
.perspectiva-feminista {
  text-align: center;
}

.perspectiva-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.perspectiva {
  max-width: 45%;
}
.vertical-separator {
  border-right: 1px solid #ccc;
  height: 200px;
}

/* GAMIFICACIO */