/* Contenedor principal */
.project-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin: auto;
}

/* Tarjeta de proyecto */
.project-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  margin: 0 auto;
  min-height: 250px;
  padding: 4rem 3rem;
  gap: 3rem;
}

/* Imagen de la estrella */
.project-image {
  margin-right: 10px;
  width: 300px;
}

/* Texto del proyecto */
.project-text {
  flex-grow: 1;
  line-height: 1.5;
}
.project-text h2 {
  color: #922c90;
}

/* Botón de descarga */
.project-download {
  display: flex;
  align-items: center;
  color: #666;
  text-decoration: none;
  font-size: 14px;
}

/* Icono de descarga */
.download-icon {
  margin-right: 5px;
  width: 30px;
  height: 30px;
}
