<header>
    <div class="logo">
      <img src="img/logos/1.png" alt="Logo" />
    </div>
    <div class="company-name">
        <h1>Dinamització i documentació per a la Igualtat d’Oportunitats
        </h1>
    </div>
    <nav>
      <ul>
        <li>
          <a href="/pages/qui_som.html">Qui som?</a>
          <ul>
            <li><a href="#">Trajectoria</a></li>
            <li><a href="#">Missió, visió i valors</a></li>
            <li><a href="#">Equip</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Què fem?</a>
          <ul>
            <li><a href="#">Projectes propis</a></li>
            <li><a href="#">Activitats i tallers</a></li>
            <li><a href="#">Participació en el pla comunitari</a></li>
            <li>
                <a href="#">Àrees d'actuació</a>
                <ul>
                    <li><a href="#">Infància i família</a></li>
                    <li><a href="#">Igualtat</a></li>
                    <li><a href="#">Gent Gran</a></li>
                    <li><a href="#">Diversitat funcional</a></li>
                    <li><a href="#">Educació</a></li>
                    <li><a href="#">Acció Comunitària</a></li>
                </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Com treballem?</a>
          <ul>
            <li><a href="#">Gamificació</a></li>
            <li><a href="#">Perspectiva feminista</a></li>
            <li><a href="#">Què ens diferencia?</a></li>
          </ul>
        </li>
        <li><a href="#">Transparència</a></li>
      </ul>
    </nav>
  </header>